.main{
    text-align:center ;
     margin-left:650px;
     margin-top: 130px;
    background-color:rgb(213, 67, 22);
    width:500px;
    height: 600px;
    border-radius: 20px;
}
#name,#email,#password{
    margin-top: 25px;
    font-size: 25px;

}
h1{
    text-align:center ;
}
#regButton{
    color:black;
    font-size: 30px;
}
.name,.email,.password{
    margin:10px;
    border-style: outset;
    width:40%;
    height: 30px;
}
#login{
    color:rgb(20, 20, 219);
    font-size: 25px;
}
p{
    font-size: 20px;  
}
